/* Our CSS file. */


.container, .content {
width: 100%;
height: auto;
}
.row{
    height: 300px;
    width: 95%;
    /* margin: 10px; */
    display: block;
    /* background-color: rgb(209, 204, 204); */
    /* border: 1px solid lightgrey; */
}
.col{
    height: 280px;
    width: 45%;
    /* margin: 10px; */
    /* display: inline-block; */
    /* border: 1px solid lightgrey; */
    float:left;
}
h1{
    margin-left: 20px;
    
}

